.b-dropdown
	button(class="b-btn b-btn--normal" type="button" data-toggle="dropdown") Popularity <span class="caret"></span></button>
	ul.dropdown-menu
		li.dropdown-menu__item
			a(href="#") Popularity
		li.dropdown-menu__item
			a(href="#") Time