footer.b-footer
	.container
		.row
			.col-xs-12
				a(href="#" class="visible-xs visible-md visible-lg pull-left b-brand-link b-brand-link--footer b-footer__item") Noop.nl
				a(href="#" data-toggle="modal" data-target="#free-book-popup").b-btn.b-btn--normal.b-btn--red.visible-xs.b-footer__item free book!
				ul.b-footer-link.b-footer__item
					li.b-footer-link__item
						a(href="#") Category
					li.b-footer-link__item
						a(href="#") Tags
					li.b-footer-link__item
						a(href="#") Archive
				.b-nav-link.b-nav-link--footer.b-footer__item
					ul
						li.b-nav-link__item
							a(href="#") Writing
						li.b-nav-link__item
							a(href="#") Speaking
						li.b-nav-link__item
							a(href="#") Managing
						li.b-nav-link__item
							a(href="#") Training
						li.b-nav-link__item
							a(href="#") About				
				a(href="#" data-toggle="modal" data-target="#free-book-popup").b-btn.b-btn--normal.b-btn--red.hidden-xs.b-footer__item free book!
				ul.b-social-link.b-footer__item
					li.b-social-link__item.b-social-link__item--twitter
						a(href="#" ) <i class="fa fa-twitter"></i>
					li.b-social-link__item.b-social-link__item--facebook
						a(href="#" ) <i class="fa fa-facebook"></i> 
					li.b-social-link__item.b-social-link__item--google
						a(href="#" ) <i class="fa fa-google-plus"></i>
					li.b-social-link__item.b-social-link__item--linked
						a(href="#" ) <i class="fa fa-linkedin"></i>
				.b-copyright.b-footer__item.
					Copyright © 2015. <br><span class="b-copyright__comName">NOOP.NL</span>