.b-pagination.clearfix
	ul.b-pagination__wrapper
		li.b-pagination__item.b-pagination__item--prev
			a(href="#").disable <i class="fa fa-chevron-left"></i> previous
		li.b-pagination__item.active
			a(href="#") 1
		li.b-pagination__item
			a(href="#") 2
		li.b-pagination__item
			a(href="#") 3
		li.b-pagination__item
			a(href="#") 4
		li.b-pagination__item
			a(href="#") 5
		li.b-pagination__item.b-pagination__item--next
			a(href="#") next <i class="fa fa-chevron-right"></i>
	.b-dropdown.b-dropdown--pagination.visible-xs
		button(class="b-btn b-btn--normal" type="button" data-toggle="dropdown") 1 <span class="caret"></span></button>
		ul.dropdown-menu
			li.dropdown-menu__item
				a(href="#") 1
			li.dropdown-menu__item
				a(href="#") 2
			li.dropdown-menu__item
				a(href="#") 3
			li.dropdown-menu__item
				a(href="#") 4
			li.dropdown-menu__item
				a(href="#") 5						