.b-nav--menu
	.b--menu.b-menu--top
		ul.b-hr.pull-left
			li.b-hr__item
				a(href="")
			li.b-hr__item
				a(href="")
			li.b-hr__item
				a(href="")
			li.b-hr__item
				a(href="")
		ul.b-socialLinks.pull-right
			li.b-socialLinks__item
				a(href="")
			li.b-socialLinks__item
				a(href="")
			li.b-socialLinks__item
				a(href="")
			li.b-socialLinks__item
				a(href="")
	.b--menu.b-menu--bottom
		a.b-logo.pull-left
		ul.b-pages.pull-right
			li.b-pages__item
				a(href="#") category
				div.b-droplist.b-droplist--category
					.container
						.row
							.col-xs-12
								a(href="#b-archive-nav").b-close.hidden-xs close<i class="fa fa-times"></i>
								.b-droplist__search.hidden-xs
									form(action="" method="post").b-search
										button(type="submint").b-search__toggle <i class="fa fa-search"></i>
										input(type="search" placeholder="Find category").b-search__input
								.b-droplist__list
									.b-list
										ul.b-list__item.category--2008
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
										ul.b-list__item.category--2009
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
			li.b-pages__item
				a(href="") archive
				div.b-droplist.b-droplist--archive
					.container
						.row
							.col-xs-12
								a(href="#b-archive-nav").b-close.hidden-xs close<i class="fa fa-times"></i>
								.b-droplist__search.hidden-xs
									form(action="" method="post").b-search
										button(type="submint").b-search__toggle <i class="fa fa-search"></i>
										input(type="search" placeholder="Find category").b-search__input
								.b-droplist__list
									.b-list
										ul.b-list__item.category--2008
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
										ul.b-list__item.category--2009
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
			li.b-pages__item
				a(href="") tags
				div.b-droplist.b-droplist--tags
					.container
						.row
							.col-xs-12
								a(href="#b-archive-nav").b-close.hidden-xs close<i class="fa fa-times"></i>
								.b-droplist__search.hidden-xs
									form(action="" method="post").b-search
										button(type="submint").b-search__toggle <i class="fa fa-search"></i>
										input(type="search" placeholder="Find category").b-search__input
								.b-droplist__list
									.b-list
										ul.b-list__item.category--2008
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
										ul.b-list__item.category--2009
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
			li.b-pages__item
				a(href="")
				div.b-droplist.b-droplist--search
					.container
						.row
							.col-xs-12
								a(href="#b-archive-nav").b-close.hidden-xs close<i class="fa fa-times"></i>
								.b-droplist__search.hidden-xs
									form(action="" method="post").b-search
										button(type="submint").b-search__toggle <i class="fa fa-search"></i>
										input(type="search" placeholder="Find category").b-search__input
								.b-droplist__list
									.b-list
										ul.b-list__item.category--2008
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
										ul.b-list__item.category--2009
											li
												a(href="#") 2008
											li
												a(href="#") January
											li
												a(href="#") February
											li
												a(href="#") March
											li
												a(href="#") April
											li
												a(href="#") May
											li
												a(href="#") June
											li
												a(href="#") July
											li
												a(href="#") August
											li
												a(href="#") September
											li
												a(href="#") October
											li
												a(href="#") November
											li
												a(href="#") December
			li.b-pages__item
				a(href="").b-btn
